<h1>Component Life Cycle</h1>

<h2>The below form demnostrates the component lifecycle</h2>

<form>
  <p>
  Background Color: 
  <input type="text" 
         name="bgColor" 
         [(ngModel)]="bgColor">
  </p>         
  <p>
      DoCheck Test: 
      <input type="text" 
             name="doCheckStr" 
             [(ngModel)]="doCheckStr">
      </p>         

      <div *ngIf="!toggleChild">
        <app-child [backgroundColor]="bgColor"></app-child>
      </div>
</form>

<form>
  <input type="checkbox" name="toggleChildComponent" 
        [(ngModel)]="toggleChild">Toggle Child component
</form>